@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

html {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  font-family: "Roboto", sans-serif;
  width: 100%;
}

nav {
  background-color: transparent;
  width: 60%;
  margin: 0 auto;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 2em;
  text-transform: uppercase;
  transition: 0.3s;
}

nav ul li a:hover {
  transition: 0.3s;
  color: #30cfd0;
}

.slide {
  background-color: gray;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  height: 400px;
  cursor: url("./images/guitar.png"), auto;
}

.fans-box {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}

.fans-box p {
  font-size: 36px;
  padding: 2rem;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, orange, yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-responsive {
  width: 100%;
  height: 100%;
  background: url("./images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
}

.profile {
  text-align: center;
  padding: 3rem;
}

.img-profile-themuh {
  background: url("./images/themuh.jpg");
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.img-profile-macrowave {
  background: url("./images/macrowave.jpeg");
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

section {
  background-color: #fff;
  width: 60%;
  margin: 0 auto;
  height: 100%;
}

.container {
  padding: 5rem;
}

.greeting-box {
  width: 100%;
  margin-top: 3rem;
}

.greeting-form {
  margin-bottom: 1rem;
  width: 100%;
}

.greeting-form textarea {
  width: 100%;
  outline: none;
  border: 0.5px solid #30cfd0;
  border-radius: 3px;
  font-size: 14px;
}

.greeting-form textarea:focus {

}

.greeting-name {
  font-size: 14px;
  margin-bottom: .5rem;
  outline: none;
  border-color: #30cfd0;
  border: 0;
  width: 50%;
}

.greeting-form form input[type="text"] {
  width: 100px;
  outline: none;
  border: 0;
  border-bottom: #330867 1px solid;
  font-size: 16px;
  color: #330867;
  -webkit-transition: width 0.35s ease-in-out;
  transition: width 0.35s ease-in-out;
}

.greeting-form form input[type="text"]:focus {
  -webkit-transition: width 0.35s ease-in-out;
  transition: width 0.35s ease-in-out;

  width: 100%;
}

.greeting-form .btn {
  display: flex;
}

.greeting-msg {
  border-left: #330867 solid 5px;
  text-align: center;
  width: 100%;
  margin:  0 auto;
  max-height: 500px;
  overflow: scroll;
}

.greeting-msg-item {
  padding: 1rem;
  text-align: left;
  border-bottom: #330867 .5px solid;
  font-size: 16px;
  word-break: break-all;
}

.greeting-msg-item:first-child {
  background: RGBA(0, 228, 251, 0.2);
}

.item-name {
  color: #330867;
  font-size: 16px;
  font-weight: 700;
}

.item-msg {
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
}

.item-time {
  font-size: 12px;
  color: gray;
  text-align: right;
}

.greeting-more {
  margin-top: 1rem;
}

hr {
  border: 1px solid #330867;
}

.welcome-marquee {
  display: inline-block;
  font-size: 20px;
  margin-left: 3rem;
  font-weight: 300;
  color: #330867;
}

.bell {
  position: absolute;
  
}

.schedule-list {
  text-align: center;
  margin-top: 3rem;
}

.store-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.store-list-item {
  align-content: flex-start;
  align-items: flex-start;
  padding: 0;
  width: 200px;
  border-top: #330867 solid 5px;
}

.store-list-item img {
  width: 100%;
  margin: 0 auto;
  background-size: cover;
}

.store-list-item p {
  font-weight: 300;
  text-align: justify;
  color: #330867;
}

.btn {
  display: block;
  background-color: #330867;
  border-radius: 3px;
  padding: 0.5rem;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.disable {
  color: rgb(226, 190, 190);
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

iframe .itune-player {
  margin-top: 3rem;
}

.itune-player {
  width: 100%;
  overflow: hidden;
  background: transparent;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cols {
  padding: 1rem;
}

.footer {
  padding: 2rem;
}

.footer p {
  font-weight: 300;
}

footer {
  background-color: #330867;
  width: 60%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

footer .row .cols ul {
  text-align: left;
}

footer .row .cols ul li a {
  color: #fff;
  text-decoration: none;
}

.not-found {
  font-size: 50px;
  font-weight: 300;
}






@media only screen and (min-device-width: 0px) and (max-device-width: 812px) {
  nav {
    margin: 0 auto;
    width: 80%;
  }

  nav ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-left: 0px;
  }

  nav ul li {
    text-align: center;
    border-bottom: 1px dashed #30cfd0;
    padding: 1rem;
    border-radius: 5px;
  }

  nav ul li a {
    padding: 1rem;
    width: 100%;
  }

  .slide {
    background-color: gray;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    height: 300px;
  }

  .img-responsive {
    width: 100%;
    height: 100%;
    background: url("./images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .contact-list {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
  }

  .profile {
    text-align: center;
    padding: 0.5rem;
    margin: 0 auto;
  }

  .img-profile-themuh {
    background: url("./images/themuh.jpg");
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  .img-profile-macrowave {
    background: url("./images/macrowave.jpeg");
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  .container {
    padding: 1rem;
  }

  section {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }

  .schedule-list {
    text-align: center;
    margin-top: 3rem;
  }

  footer {
    width: 100%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  #root > div > div:nth-child(4) > footer > div.footer {
    width: auto;
    margin: 0 auto;
  }

  .footer p {
    font-size: 0.5rem;
    padding: 0rem;
  }

  .store-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .store-list-item {
    margin-bottom: 2rem;
    padding: 0;
    width: 100%;
    border-top: #330867 solid 5px;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .footer {
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  nav {
    margin: 0 auto;
    width: 80%;
  }

  nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding-left: 0px;
  }

  nav ul li {
    text-align: center;
  }

  nav ul li a {
    padding: 1rem;
    font-size: 16px;
  }

  .slide {
    background-color: gray;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    height: 400px;
  }

  .img-responsive {
    width: 100%;
    height: 100%;
    background: url("./images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .contact-list {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
  }

  .profile {
    text-align: center;
    padding: 0.5rem;
    margin: 0 auto;
  }

  .img-profile-themuh {
    background: url("./images/themuh.jpg");
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  .img-profile-macrowave {
    background: url("./images/macrowave.jpeg");
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  section {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }

  .schedule-list {
    text-align: center;
    margin-top: 3rem;
  }

  footer {
    width: 100%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  .footer p {
    font-size: 1rem;
  }

  .not-found {
    font-size: 50px;
    font-weight: 300;
  }

  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}











/* responsive */

@media only screen and (min-width: 0px) and (max-width: 812px) {
  nav {
    margin: 0 auto;
    width: 80%;
  }

  nav ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-left: 0px;
  }

  nav ul li {
    text-align: center;
    border-bottom: 1px dashed #30cfd0;
    padding: 1rem;
    border-radius: 5px;
  }

  nav ul li a {
    padding: 1rem;
    width: 100%;
  }

  .slide {
    background-color: gray;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    height: 300px;
  }

  .img-responsive {
    width: 100%;
    height: 100%;
    background: url("./images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .contact-list {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
  }

  .profile {
    text-align: center;
    padding: 0.5rem;
    margin: 0 auto;
  }

  .img-profile-themuh {
    background: url("./images/themuh.jpg");
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  .img-profile-macrowave {
    background: url("./images/macrowave.jpeg");
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  .container {
    padding: 1rem;
  }

  section {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }

  .schedule-list {
    text-align: center;
    margin-top: 3rem;
  }

  footer {
    width: 100%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  #root > div > div:nth-child(4) > footer > div.footer {
    width: auto;
    margin: 0 auto;
  }

  .footer p {
    font-size: 0.5rem;
    padding: 0rem;
  }

  .store-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .store-list-item {
    margin-bottom: 2rem;
    padding: 0;
    width: 100%;
    border-top: #330867 solid 5px;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .footer {
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 812px) and (max-width: 1024px) {
  nav {
    margin: 0 auto;
    width: 80%;
  }

  nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding-left: 0px;
  }

  nav ul li {
    text-align: center;
  }

  nav ul li a {
    padding: 1rem;
    font-size: 16px;
  }

  .slide {
    background-color: gray;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    height: 400px;
  }

  .img-responsive {
    width: 100%;
    height: 100%;
    background: url("./images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .contact-list {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
  }

  .profile {
    text-align: center;
    padding: 0.5rem;
    margin: 0 auto;
  }

  .img-profile-themuh {
    background: url("./images/themuh.jpg");
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  .img-profile-macrowave {
    background: url("./images/macrowave.jpeg");
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  section {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }

  .schedule-list {
    text-align: center;
    margin-top: 3rem;
  }

  footer {
    width: 100%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  .footer p {
    font-size: 1rem;
  }

  .not-found {
    font-size: 50px;
    font-weight: 300;
  }

  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1252px) {

  nav, .slide, section, footer {
    width: 80%;
  }
}

